@main("Monitrix - Database Not Connected") {
  <!-- TODO figure out how custom tags work in Play/Java -->
  <li><a href="/">Home</a></li>
  <li><a href="timeline">Crawl Timeline</a></li>
  <li><a href="seed-stats">Seed Stats</a></li>
  <li><a href="crawl-parameters">Crawl Parameters</a></li>
  <li><a href="alerts">Alerts</a></li>
  <li><a href="admin">Admin</a></li>
}{
  <div class="row">
    <div class="span7">
      <h1>Sorry.</h1>
      <p>Monitrix could not connect to the database. I tried these settings:</p>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <table class="table table-condensed">
        <tr><td>DB host</td><td><strong>@{play.Play.application().configuration().getString("mongo.host");}</strong></td></tr>
        <tr><td>DB port</td><td><strong>@{play.Play.application().configuration().getString("mongo.port");}</strong></td></tr>
        <tr><td>DB name</td><td><strong>@{play.Play.application().configuration().getString("mongo.db.name");}</strong></td></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span7">  
      <p>Please verify your settings and make sure that MongoDB is running!</p>
    </div>
  </div>
}