@(result: uk.bl.monitrix.model.SearchResult, hostCount: Long)

@import tags.navbar

@main("Monitrix - Host Information") {
  @navbar("")
}{
  <div class="container-fluid" style="padding-bottom:40px;">
    <div class="offset2 row">
      <h4 style="margin-left:5px;">@result.query</h4>
    </div>
    
    <div class="row-fluid">
      <!-- Sidebar -->
      <div class="span2" style="position:relative; left:-15px; padding-top:15px; padding-right:0px;">
        <p>
          <small><span style="color:#888">Took @result.took ms</span></small>
        </p>     
      </div>
      
      <!-- Result list -->
      <div class="span10">
        <div class="monitrix-tabs">
          <a href="@routes.Search.searchHosts()?query=@result.query" class="monitrix-tab monitrix-tab-active">@hostCount Hosts</a>
          <a href="#" class="monitrix-tab">@result.totalResults URLs</a>
        </div>
        <div class="pagination">
          <ul>
            @if(result.offset > 0) {
              <li><a href="/hosts?query=@result.query&limit=@result.limit&offset=@{Math.max(0, result.offset - result.limit)}">&laquo;</a></li>
            } else {
              <li class="disabled"><a href="#">&laquo;</a></li>
            }
            <li class="disabled"><a href="#">Showing Results @{result.offset + 1} - @{Math.min(result.offset + result.limit, result.totalResults)}</a></li>
            @if(result.offset + result.limit < result.totalResults) {
              <li><a href="/hosts?query=@result.query&limit=@result.limit&offset=@{result.offset + result.limit}">&raquo;</a></li>
            } else {
              <li class="disabled"><a href="#">&raquo;</a></li>
            }
          </ul>
        </div>
        
        @for(item <- result.resultPage) {
          <p>
            <a href="@routes.Hosts.getHostInfo(item.title)">@item.title</a><br/>
            <span style="font-family:Courier">@item.description</span>
          </p>
        }
      </div>
    </div>
  </div>
}