@(log: uk.bl.monitrix.model.CrawlLog)

@import tags.{heritrixStatus, navbar}

@main("Monitrix - URLs") {
  @navbar("/urls")
}{
  <h2>Total URLs: @log.countEntries</h2>
  <h3>Revisited: <a href="/search?type=annotation&query=warcRevisit:digest">@log.searchByAnnotation("warcRevisit:digest", 1, 0).totalResults</a></h3>
  
  <table class="table monitrix-hostinfo">
    <tr>
      <td class="monitrix-hostinfo-label">Compressability</td>
      <td style="width:90%"><div style="height:220px;" id="compressability-histogram"></div></td>
    </tr>
  </table>
  
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/morris.css")">
  <script src="@routes.Assets.at("javascripts/raphael-min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/morris.min.js")" type="text/javascript"></script>  
  <script>
    var lastHoveredCompressability;
    
    // Compressability is a value between 0 (theoretical - i.e. 'compressed to 0) and 1 (not compressable)
    Morris.Bar({
      element: 'compressability-histogram',
      data: [
            @{Seq.range(0, 50).map(_ * 0.02).map { c =>
              "{ compressability: " + c + ", count: " + log.searchByCompressability(c, c + 0.02, 0, 0).totalResults + "}" 
            }.mkString(", ") }
        ],
      xkey: 'compressability',
      ykeys: ['count'],
      labels: [ '# of Hosts' ],
      hideHover: 'false',
      barColors: [ '#850303' ],
      hoverCallback: function(index, options) {
          var row = options.data[index];
          lastHoveredCompressability = row.compressability;
          
          var html =        	  
        	    '<div class="morris-hover-row-label">Compressed/Uncompressed ' + row.compressability + '</div>' + 
        	    '<div class="morris-hover-point" style="color: #850303">' +
                  row.count + ' URLs' +
                '</div>';
          return html;
        }
    });
    
    $('#compressability-histogram').mouseup(function() {
      window.location.href='/search?type=compressability&min=' + lastHoveredCompressability + '&max=' + (lastHoveredCompressability + 0.02);
    });
  </script>
}