@(hosts: uk.bl.monitrix.model.KnownHostList, cappedHosts: List[String])

@import tags.{ navbar, embedParam }

@main("Monitrix - Hosts") {
  @navbar("/hosts")
} {
  <h2>@hosts.count Known Hosts</h2>
  <h3>@hosts.countSuccessful Successfully Crawled</h3>
  
  <table class="table monitrix-hostinfo">
    <tr>
      <td class="monitrix-hostinfo-label">Hosts by Top-Level Domain</td>
      <td>
        <div class="monitrix-barchart-container">
          <div class="monitrix-barchart-y-label-container">
            <span class="monitrix-barchart-y-label">Number of Hosts</span>
          </div>
          <div class="monitrix-barchart-container-right">
            <div class="monitrix-barchart-chart-area" id="hosts-barchart"></div>
            <div class="monitrix-barchart-x-label">Top-Level Domain</div>
          </div>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="monitrix-hostinfo-label">Average Retries</td>
      <td>
        <div class="not-loaded not-loaded-retries">
          <div class="monitrix-barchart-container">
            <div class="monitrix-axis-y-label-container">
              <span class="monitrix-barchart-y-label">Number of Hosts</span>
            </div>
            <div class="monitrix-barchart-container-right">
              <div class="monitrix-barchart-chart-area" id="average-retries-histogram"></div>
              <div class="monitrix-barchart-x-label">Average No. of HTTP Retries</div>
            </div>
          </div>
          
          <div class="load-button load-button-retries">
            <span class="btn" onclick="loadRetries();">Generate Histogram</span>
          </div>
        </div>
      </td>
    </tr> 
   
    <tr>
      <td class="monitrix-hostinfo-label">Average Delay</td>
      <td>
        <div class="not-loaded">
          <div class="monitrix-barchart-container">
            <div class="monitrix-barchart-y-label-container">
              <span class="monitrix-barchart-y-label">Number of Hosts</span>
            </div>
            <div class="monitrix-barchart-container-right">
              <div class="monitrix-barchart-chart-area" id="average-delay-histogram"></div>
              <div class="monitrix-barchart-x-label">Average Delay (in Seconds)</div>
            </div>
          </div>
          
          <div class="load-button">
            <span class="btn" onclick="loadDelay();">Generate Histogram</span>
          </div>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="monitrix-hostinfo-label">Capped Hosts (@cappedHosts.size)</td>
      <td class="monitrix-three-column-text" style="width:90%">
        @for(host <- cappedHosts) {
          <a href="@routes.Hosts.getHostInfo(host)@embedParam()">@host</a><br/>
        }
      </td>
    </tr>
  </table>  

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/morris.css")">
  <script src="@routes.Assets.at("javascripts/raphael-min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/morris.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/querystring.js")" type="text/javascript"></script>    
  <script>
    var lastHoveredDelay;    
    var lastHoveredRetries;
    
    Morris.Bar({
        element: 'hosts-barchart',
        data: [
                @{hosts.getTopLevelDomains.reverse.map { tld =>
                  "{ tld: '" + tld + "', count: " + hosts.countForTopLevelDomain(tld) + "}" 
                }.mkString(", ") }
      	    ],
        xkey: 'tld',
        ykeys: ['count'],
        labels: [ '@hosts.getTopLevelDomains.reverse.mkString("', '")' ],
        hideHover: 'false',
        barColors: [ '#850303' ], 
        hoverCallback: function(index, options) {
          var row = options.data[index];
          lastHoveredTLD = row.tld;
          
          var html =        	  
      	    '<div class="morris-hover-row-label">.' + row.tld + '</div>' + 
      	    '<div class="morris-hover-point" style="color: #850303">' +
                row.count + ' Hosts' +
              '</div>';
          return html;
        }
    });
    
    function loadRetries() {
        $('.load-button-retries').remove();
        $('.not-loaded-retries').addClass('loading');
        
        $.getJSON('/api/hosts/average-retries', function(data) {
          $('.not-loaded-retries').removeClass('not-loaded').removeClass('loading');
          
          var logData = [];
          $.each(data, function(idx, xy) {
        	  logData.push({x: xy.x, y: Math.log(xy.y + 1) / Math.LN10 });
          });
          
          Morris.Bar({
            element: 'average-retries-histogram',
            data:logData,
            xkey: 'x',
            ykeys: ['y'],
            yLabelFormat: function(y) { return Math.round(Math.pow(10, y)); },
            labels: [ '# of Hosts' ],
            hideHover: 'false',
            barColors: [ '#850303' ],
            hoverCallback: function(index, options) {
              var row = data[index];
              lastHoveredRetries = row.x;
            
              var html =        	  
          	    '<div class="morris-hover-row-label">' + row.x + '  - ' + (row.x + 1) + ' Retries</div>' + 
          	    '<div class="morris-hover-point" style="color: #850303">' +
                    row.y + ' Hosts' +
                  '</div>';
              return html;
            }
          });
        });
      
        $('#average-retries-histogram').mouseup(function() {
          var embeddable = (QueryString.get('embeddable') != undefined) ? "&embeddable=true" : "";
          window.location.href='/search?type=avg_retries&min=' + lastHoveredRetries + '&max=' + (lastHoveredRetries + 1) + embeddable;
        });
    }
    
    @defining(hosts.getMaxFetchDuration / 100) { delayInc  =>
    Morris.Bar({
      element: 'average-delay-histogram',
      data: [],
      xkey: 'delay',
      ykeys: ['scale'],
      yLabelFormat: function(y) { return Math.round(Math.pow(10, y)); },
      labels: [ '# of Hosts' ],
      hideHover: 'false',
      barColors: [ '#850303' ],
      hoverCallback: function(index, options) {
        var row = options.data[index];
        lastHoveredDelay = row.delay;
        
        var html =        	  
      	    '<div class="morris-hover-row-label">Delay ' + row.delay + 's - ' + (row.delay + delayInc)/ 100 + 's</div>' + 
      	    '<div class="morris-hover-point" style="color: #850303">' +
                row.count + ' Hosts' +
              '</div>';
        return html;
      }
    });
  }
    
    $('#average-delay-histogram').mouseup(function() {
      var embeddable = (QueryString.get('embeddable') != undefined) ? "&embeddable=true" : "";
      window.location.href='/search?type=fetch_duration&query=&min=' + lastHoveredDelay * 100 + '&max=' + (lastHoveredDelay + delayInc) * 100 + embeddable;
    });
  </script>
}