@import url(http://fonts.googleapis.com/css?family=Prosto+One);

html, body {
  margin:20px 0px 0px 0px;
  padding:0px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.monitrix-row {
  width:80%;
  margin:0px auto;
  min-width:920px;
}

.monitrix-header {
  width:100%;
  margin:0px 0px 30px 0px;
  padding:30px 0px;
  color:#fff;
  background:#582828; /* Old browsers */
  background:-moz-linear-gradient(45deg,  #582828 0%, #351515 100%); /* FF3.6+ */
  background:-o-linear-gradient(45deg,  #582828 0%,#351515 100%); /* Opera 11.10+ */
  background:-ms-linear-gradient(45deg,  #582828 0%,#351515 100%); /* IE10+ */
  background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#582828), color-stop(100%,#351515)); /* Chrome,Safari4+ */
  background:linear-gradient(45deg,  #582828 0%,#351515 100%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-shadow:0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .1), inset 0 -3px 7px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.1), inset 0 -3px 7px rgba(0,0,0,.1), 0 1px 3px rgba(0, 0, 0, .2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, .1), inset 0 -3px 7px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .2); 
}

.monitrix-header h1 { margin:0px; font-size:50px; font-family:"Prosto One"; z-index:2; }
.monitrix-header p { margin:0px; padding:5px 0px 5px 2px; font-size:15px; z-index:2; }
.monitrix-crawl-factoid { color: #d77; font-style:italic; z-index:2; }

.monitrix-h1-subline {
  color:#777;
  font-size:14px;
  font-weight:normal;
}

#monitrix-flash-panel {
  position:absolute;
  width:60%;
  top:51px;
  right:10px;
  height:109px;
}

.monitrix-flash-url {
  position:absolute;
  opacity:0;
  font-size:1.3em;
  white-space:no-wrap;
  z-index:1;
}

.monitrix-flash-url a {
  text-decoration:none;
  color:#fff;
}

.monitrix-current-stats {
  width:100px;
  padding:5px 15px;
  margin:0px 10px;
  text-align:center;
  font-size:12px;
}

.monitrix-current-stats div {
  margin:0 auto;
}

.monitrix-alert-table {
  font-size:13px;
}

.monitrix-host-piechart {
  margin:20px 30px 0px 0px;
  display:inline-block;
  text-align:center;
  font-size:13px;
}

.monitrix-host-piechart-inner {
  width:240px; 
  height:150px;
}

.monitrix-host-pielchart-legend {
  margin:30px 0px 50px 0px;
}

.monitrix-host-pielchart-legend td {
  font-size:10px;
}

.monitrix-three-column-text {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
}

.graph-thumb-container {
  position:relative;
  margin:20px 0px 40px 0px;
  min-height:180px;
}

.graph-thumb {
  position:absolute;
  top:0px;
  left:40px;
  width:280px;
  height:180px;
  border-width:0px 1px 0px 0px;
  border-style: solid;
  border-color: #ccc;
  text-align:center;
}

.graph-thumb .load-progress {
	display:block;
	padding-top:40px;
	font-weight:bold;
}

.monitrix-graph-thumb-fullscreen {
  display:inline-block;
  padding:5px 40px 0px 40px;
}

.monitrix-graph-thumb-fullscreen a {
  text-decoration:none;
  color:#000;
}

.graph-tumb-loading {
  background-image:url('../img/ajax-spinner.gif');
  background-repeat:no-repeat;
  background-position:126px 76px;
  border-width:1px;	
}

.graph-thumb-y-axis {
  position:absolute;
  top:0px;
  left:0px;
  width:40px;
  height:180px;
}

.monitrix-hostinfo-label {
  white-space:nowrap;
  font-weight:bold;
}


