@(crawlStatistics: uk.bl.monitrix.CrawlStatistics)

@main("Monitrix - Crawl Timeline") {
  <!-- TODO figure out how custom tags work in Play/Java -->
  <li><a href="/">Home</a></li>
  <li class="active"><a href="javascript:void(0);">Crawl Timeline</a></li>
  <li><a href="seed-stats">Seed Stats</a></li>
  <li><a href="crawl-parameters">Crawl Parameters</a></li>
  <li><a href="alerts">Alerts</a></li>
  <li><a href="admin">Admin</a></li>
} {
  <div class="row">
    <div class="span3">
      <span class="label" style="padding:10px 20px;">CRAWL IN PROGRESS</span>
      <table class="table table-condensed unstyled" style="margin-top:20px;">
        <tr><td>Started</td><td>@{new Date(crawlStatistics.getCrawlStartTime()).format("dd MMM yy, hh:mm")}</td></tr>
        <tr><td>Last Activity</td><td>@{new Date(crawlStatistics.getTimeOfLastCrawlActivity()).format("dd MMM yy, hh:mm")}</td></tr>
        <!-- tr><td>812.123</td><td>hosts visited</td></tr>
        <tr><td>2.512.124</td><td>URLs crawled</td></tr>
        <tr><td>3.2 GB</td><td> data processed</td></tr-->
      </table>
    </div>
    
    <div class="span9">
      <div class="monitrix-timeline" id="chart"></div>
    </div>
  </div>
  
  <script>
    $.getJSON('/api/timeline/datavolume', function(data) {
      if (data) {
        var graph = new Rickshaw.Graph({
          element: document.querySelector("#chart"), 
          height: 300, 
          renderer: 'line',
          series: [{
            color: '#c05020',
            data: data,
            name: 'Download Volume'
          }]
        });
        graph.render();  
        
        var hoverDetail = new Rickshaw.Graph.HoverDetail({
          graph: graph,
          yFormatter: function(y) { return Math.floor(y / 1048576) + ' MB'; }
        });
        
        var axes = new Rickshaw.Graph.Axis.Time( {
        	graph: graph
        } );
        axes.render();
      }
    });
  </script>
}