@(crawlLog: uk.bl.monitrix.model.CrawlLog)

@import tags.navbar

@main("Monitrix - Crawl Timeline") {
  @navbar("/timeline")
} {
  <div class="container-fluid">
    <div class="row-fluid">
      <!-- Sidebar -->
      <div class="span3" style="position:relative; left:-15px; padding-right:15px;">
        <span class="label" style="padding:10px 20px;">CRAWL COMPLETED</span>
        <small>
          <table class="table table-condensed unstyled" style="margin-top:20px;">
            <tr><td>Started</td><td>@{new Date(crawlLog.getCrawlStartTime()).format("dd MMM yy, hh:mm")}</td></tr>
            <tr><td>Last Activity</td><td>@{new Date(crawlLog.getTimeOfLastCrawlActivity()).format("dd MMM yy, hh:mm")}</td></tr>
            
            <!-- TODO implement duration formatting as a custom tag -->
            <tr><td>Crawl Duration</td><td>@{crawlLog.getCrawlDuration() / (1000 * 60 * 60);} hours</td></tr>
            <tr><td>URLs Crawled</td><td id="total-urls-crawled"></td></tr>
            <tr><td>Data Volume</td><td id="total-data-volume"></td></tr>
          </table>
        </small>
      </div>
      
      <!-- Content -->
      <div class="span9">
        <div class="row-fluid">
          <div class="span6">
            <p>Data Volume</p>
            <div class="graph-thumb-container">
              <div class="graph-thumb-y-axis" id="graph-volume-axis"></div>
              <div class="graph-thumb graph-tumb-loading" id="graph-volume"></div>
              <p class="pull-right monitrix-graph-thumb-fullscreen">
                <a href="javascript:$(createLightBox('/api/timeline/datavolume')).lightbox_me({destroyOnClose: true});">
                  <small>View Fullscreen</small> <i class="icon-fullscreen"></i>
                </a>
              </p>
            </div>
          </div>
            
          <div class="span6">
            <p>Number of URLs Crawled</p>
            <div class="graph-thumb-container">
              <div class="graph-thumb-y-axis" id="graph-urls-axis"></div>
              <div class="graph-thumb graph-tumb-loading" id="graph-urls"></div>
              <p class="pull-right monitrix-graph-thumb-fullscreen">
                <a href="javascript:$(createLightBox('/api/timeline/urls-crawled')).lightbox_me({destroyOnClose: true});">
                  <small>View Fullscreen</small> <i class="icon-fullscreen"></i>
                </a>
              </p>
            </div>
          </div>  
        </div>
        
        <div class="row-fluid">
          <div class="span6">
            <p>Number of New Hosts Crawled</p>
            <div class="graph-thumb-container">
              <div class="graph-thumb-y-axis" id="graph-hosts-axis"></div>
              <div class="graph-thumb graph-tumb-loading" id="graph-hosts"></div>
              <p class="pull-right monitrix-graph-thumb-fullscreen">
                <a href="javascript:$(createLightBox('/api/timeline/new-hosts-crawled')).lightbox_me({destroyOnClose: true});">
                  <small>View Fullscreen</small> <i class="icon-fullscreen"></i>
                </a>
              </p>
            </div>
          </div>
            
          <div class="span6">
            <p>Completed Hosts</p>
            <div class="graph-thumb-container">
              <div class="graph-thumb-y-axis" id="graph-completed-hosts-axis"></div>
              <div class="graph-thumb graph-tumb-loading" id="graph-completed-hosts"></div>
              <p class="pull-right monitrix-graph-thumb-fullscreen">
                <small>View Fullscreen</small> <i class="icon-fullscreen"></i>
              </p>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>
  
  <script src="@routes.Assets.at("javascripts/jquery.lightbox_me.js")" type="text/javascript"></script>
  <script>
    function loadGraph(url, divId, name, color, opt_show_hover_detail, opt_total_callback) {
      $.getJSON(url, function(data) {
        if (data) {
          var total = 0;
          var graph = new Rickshaw.Graph({
            element: document.querySelector('#' + divId), 
            renderer: 'line',
            series: [{
              color: color,
              data: data,
              name: name
            }]
          });
          
          new Rickshaw.Graph.Axis.Time({ graph: graph });
          
          new Rickshaw.Graph.Axis.Y({
              graph: graph,
              tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
              orientation:'left',
              element: document.getElementById(divId + '-axis')
          });
          
          if (opt_show_hover_detail) {
            new Rickshaw.Graph.HoverDetail({
              graph: graph,
              yFormatter: function(y) { return (y / (1024 * 1024 * 1024)).toPrecision(2) + ' GB'; }
            });
          }
              
          $('#' + divId).removeClass('graph-tumb-loading');
          graph.render();
          
          if (opt_total_callback) {
            var total = 0;
            $.each(data, function(idx, value) {
              total += value.y;
            });      	  
            opt_total_callback(total);
          }
        }
      });    	
    }
    
    function createLightBox(url) {
        var div = document.createElement('div');
        div.id = 'lightbox';
        div.style.width = '800px';
        div.style.height = '600px';
        div.style.background = "#fff";
        
        loadGraph(url + '?maxpoints=400', 'lightbox', 'Volume', '#c05020', true, function(total) {
            total = total / (1024 * 1024 * 1024);
            $('#total-data-volume').html(total.toPrecision(4) + ' GB');	
          });
        
        return div;
      }
    
    loadGraph('/api/timeline/datavolume?maxpoints=100', 'graph-volume', 'Volume', '#c05020', false, function(total) {
      total = total / (1024 * 1024 * 1024);
      $('#total-data-volume').html(total.toPrecision(4) + ' GB');	
    });
    
    loadGraph('/api/timeline/urls-crawled?maxpoints=100', 'graph-urls', 'URLs', '#c05020', false, function(total) {
      $('#total-urls-crawled').html(total);
    });  
    
    loadGraph('/api/timeline/new-hosts-crawled?maxpoints=100', 'graph-hosts', 'New Hosts', '#c05020', false);
  </script>
}