@(alertLog: uk.bl.monitrix.model.AlertLog)

@import tags.{alertTag, navbar}

@main("Monitrix - Alerts") {
  @navbar("/alerts")
}{
  @for(host <- alertLog.getOffendingHosts) {
    <h3><a style="color:#444; text-decoration:none;" href="@routes.Hosts.getHostInfo(host)">@host (@alertLog.countAlertsForHost(host))</a></h3> 
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Alert</th>
          <th>Occured</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        @for(alert <- alertLog.listAlertsForHost(host).asScala.toList) {
          <tr>
            <td>@alertTag(alert.getAlertType())</td>
            <td>@uk.bl.monitrix.NumberFormat.since(alert.getTimestamp, true)</td>
            <td>@alert.getAlertDescription</td>
          </tr>
        }
      </tbody>
    </table>   
  }
}