@(alerts: List[uk.bl.monitrix.Alert])

@main("Monitrix - Alerts") {
  <!-- TODO figure out how custom tags work in Play/Java -->
  <li><a href="/">Home</a></li>
  <li><a href="timeline">Crawl Timeline</a></li>
  <li><a href="seed-stats">Seed Stats</a></li>
  <li><a href="crawl-parameters">Crawl Parameters</a></li>
  <li class="active"><a href="javascript:void(0);">Alerts</a></li>
  <li><a href="admin">Admin</a></li>
}{
  <table class="table table-compressed table-striped">
    @for(alert <- alerts) {
      <tr><td></td><td><span class="label label-warning">@alert.getAlertName()</span></small></td><td>@alert.getAlertDescription()</td></tr>
    }
  </table>
}