@(title: String)(navigation: Html)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/monitrix.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/rickshaw.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/d3.v2.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/rickshaw.min.js")" type="text/javascript"></script>
  </head>
  <body>   
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="monitrix-row">
          <ul class="nav">
            @navigation
          </ul>
          <form class="navbar-form pull-right" style="margin-top:1px;">
            <input type="text" style="font-size:12px;height:16px;" placeholder="Enter Host or URL...">
            <button type="submit" class="btn btn-small">Go!</button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="monitrix-header">
      <div class="monitrix-row">
        <h1>monitrix</h1>
        <p>Current Crawl <span class="monitrix-crawl-factoid">running since</span></p>
      </div>
    </div>
    
    <div class="monitrix-row">
      @content
    </div>
  </body>
</html>
